*.pth
*.jpg
*.png

/TransFuse/snapshots/*
/TransFuse/weights/*
/TransFuse/results/*
/TransFuse/dataset/*
/TransFuse/dataset_v0/**/*.png
/TransFuse/dataset_v0/**/*.txt
/TransFuse/fig/*
/TransFuse/roc_curve/*
/TransFuse/attention_map

/PraNet-master/dataset/*
/PraNet-master/**/*.jpg
/PraNet-master/**/*.png

/mae/dataset/*
/mae/dataset2/*

/TransFuse_origin/dataset/*
/TransFuse_origin/runs/*


ultralytics/

__pycache__
core
.idea
.~*
.DS_Store
