*.pth
*.jpg
*.png

/TransFuse/snapshots/*
/TransFuse/weights/*
/TransFuse/results/*
/TransFuse/dataset/*
/TransFuse/fig/*
/TransFuse/roc_curve/*
/TransFuse/attention_map

/PraNet-master/dataset/*
/PraNet-master/**/*.jpg
/PraNet-master/**/*.png

/mae/dataset/*
/mae/dataset2/*

__pycache__
core
.idea
.~*
.DS_Store
