*.png
*.jpg
*.pth

/TransFuse/snapshots/*
/TransFuse/weights/*
/TransFuse/results/*
/TransFuse/dataset/*
/TransFuse/fig/*
/TransFuse/roc_curve/*

/PraNet-master/dataset/*

/mae/dataset/*
/mae/dataset2/*

__pycache__
core
.idea
.~*
