[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
albumentations = "==1.0.3"
numpy = "*"
opencv-python-headless = "==4.6.0.66"
requests = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "==1.6.2"
torch = "*"
torchvision = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
einops = "==0.4.1"
opencv-python = "==4.6.0.66"
thop = "*"
pytorch-ranger = "*"
adabelief-pytorch = "*"
timm = "==0.3.2"
ml-collections = "*"
tensorboardx = "*"
ptflops = "*"
mmcv = "==1.3.0"
cvxpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
